
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,..900;1,100..900&display=swap');

*
{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.main
{
    width:100%;
    /* background-color: red; */
    position: relative;
    display:flex;
}
.sideview
{
    height: 100vh;
    width:5%;
    background-color: black;
    display:flex;
    flex-direction: column;
    row-gap: 200px;
    position: relative;
    position: fixed;
}
.main-image
{
    height:50px;
    width:50px;
    /* background-color: red; */
    margin-left: 10px;
}
.main-image1
{
    width:100%;
    height:40px;
    margin-top: 33px;
}
.icon
{
    height:100%;
    width:50px;
    /* background-color: skyblue; */
    margin-top: 35px ;
    align-self: center;
    position: absolute;
    top:0;
    /* left:0; */
    display: flex;
    align-items:center;
    color:white;
}
.icons
{
  /* background-color: yellow; */
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style:none;
  cursor: pointer;
}
.icons-list
{
    padding:20px 0px;
}
.icons-list:hover
{
 /* opacity:.7; */
 transform: scale(2.0);
}
.banner
{
    height:650px;
    /* height:100vh; */
    width:96%;
    background-color: blanchedalmond;
    margin-left: 4%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    background: linear-gradient(black,rgb(12, 12, 12),black);
    position:relative;
}
.banner-image
{
    width:90%;
    height:90%;
    position: fixed;
}
.banner-overlay1
{
    height:100%;
    width:100%;
    position: absolute;
    background: linear-gradient(to right,black 8%,transparent,transparent);
}
.banner-overlay2
{
    height:100%;
    width:100%;
    position: absolute;
    background: linear-gradient(to top,black 5%,transparent,transparent);
}
.top
{
    width:100%;
    display:flex;
    flex-direction: column;
    position:relative;
    /* justify-content: flex-end; */
}
.details
{
    height:100vh;
    width:95%;
    /* background-color: aqua; */
    /* margin-right: 200px; */
    position:absolute;
    margin-left: 5%;
    margin-top: 16%;
}
.movie-details
{
    height:250px;
    width:400px;
    /* background-color: red; */
    margin-left: 100px;
    margin-top: 150px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly ;
}
.Bster
{
   color: blueviolet;
   font-size: small;
}
.dates
{
    display:flex;
   column-gap: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color:white;
}
.dot
{
    width:3px;
    height: 3px;
    background-color: gray;
    display: block;
    margin-top: 8px;
}
.mve
{
    /* border-radius: 100 */
    background-color: gray;
}
.para
{
    color:whitesmoke;
}
.action
{
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.slash
{
    color:gray;
}
.buttons
{
    height:50px;
    width:400px;
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-evenly;

}
.button
{
    width:250px;
    /* background-color: hsla(0,0%,100%,.7); */
    color:gray;
}
.bt
{
   width:50px;
   /* background-color:rgb(141, 130, 130); */
   color:gray;
}
.button:hover
{
  transform: scale(1.1);
  cursor: pointer;
  color:white;
}
.bt:hover
{
  transform: scale(1.1);
  cursor: pointer;
  color:white;
}
.lst
{
    background-color: black;
    /* margin-top: 10px; */
    display: flex;
    justify-content: space-between;
}
.Lst
{
    color:white;
    padding: 10px 10px ;
    cursor:pointer;
}
.view
{
    color:gray;
    padding:20px 2px;
    cursor: pointer;
}
.view:hover
{
    opacity: .9;
    color: white;
}
.arrow
{
    width:49.5%;
    /* height:5%; */
     /* background-color: black; */
    display:flex;
    justify-content: space-between;
    /* padding-top: 50px ; */
}
.left
{
    height: 50px;
    position:absolute;
    padding-top: 120px;
    padding-left: 65%;
    color:white;
    cursor: pointer;
}
.right
{
    position: absolute;
    height: 50px;
    padding-top: 120px;
    color:white;
    cursor: pointer;
}
.some-movies
{
    /* height:300px; */
    width:100%;
    background-color: brown;
    /* margin-top:3px; */
    margin-left:10px ;
    /* position: relative; */

}
.movie-section
{
    /* height:300px; */
    width:100%;
    background-color: black;
    display: flex;
}
.Lst-overlay
{
    width:150%;
    margin-left: -1%;
    background-color: black;
    position: relative;
}
.aay
{
    width:8%;
    height:250px;
    padding:0px 2px;
}
.aay:hover
{
    transform: scale(1.3);
}
